.footer {
  height: 5rem;
  margin-top: 2rem;
  /* position: fixed;
  bottom: 0rem; */
  left: 0rem;
  right: 0rem;
}
.transition {
  transition: transform 250ms;
}
.transition:hover {
  transform: translateY(-10px);
}
.footerj {
  align-items: center;
}
